<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="air18.foi.hr.map" >

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--
        If you're targeting earlier versions of the Google Play services SDK,
        you must request the android.permission.WRITE_EXTERNAL_STORAGE permission.
      -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
